<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    {% load staticfiles %}
    <link href="{% static 'semantic/semantic.min.css'%}" rel="stylesheet" type="text/css">
    <script src="{% static 'semantic/semantic.min.js'%}"></script>

    <style>
        a{
            color:inherit
            }
        a:hover{
            color:inherit
        }
    </style>
</head>
<body >

<div class="ui one column grid">

       <div class="row">
        <div class="ui center">
            <div class="ui five wide column"></div>
            <div class="ui center aligned segment six wide column">
                <div class="ui stacked header"><h1>Sales</h1></div>
                <div class="ui stacked horizontal divider">-</div>
                <div class="ui stackable seven columned grid ">
                <div class="row">
                    <div class="three wide centered column ">
                        <a href="add"><button class="ui  button green">Add</button></a>
                    </div>
                    <div class="one wide column"></div>
                    <div class="three wide centered column ">
                        <a href="list"><button class="ui button yellow">Search</button></a>
                    </div>

                </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ui center">
            <div class="ui five wide column"></div>
            <div class="ui center aligned segment six wide column">
                <div class="ui stacked header"><h1>Database</h1></div>
                <div class="ui stacked horizontal divider">-</div>
                    <button class="ui button red" ><a href="init">Load</a> </button>
                </div>
        </div>
    </div>

        {% if message != None %}
    <div class="row centered">
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header">Success</div>
                    <div class="meta">Reloaded database</div>
                    <div class="description">
                    {{message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="ui center">
            <div class="ui five wide column"></div>
            <div class="ui center aligned segment six wide column">
                <div class="ui stacked header"><h1>Trigger</h1></div>
                <div class="ui stacked horizontal divider">-</div>
                <div class="ui stackable seven columned grid ">
                <div class="row">
                    <div class="three wide centered column ">
                        <a href="enableTrigger"><button class="ui  button yellow">ON</button></a>
                    </div>
                    <div class="one wide column"></div>
                    <div class="three wide centered column ">
                        <a href="disableTrigger"><button class="ui button yellow">OFF</button></a>
                    </div>

                </div>

                </div>
            </div>
        </div>
       </div>
    </div>



  <div class="row">
        <div class="ui  center">
            <div class="ui five wide column"></div>
            <div class="ui center aligned segment six wide column">
                <div class="ui stacked header"><h1>Event</h1></div>
                <div class="ui stacked horizontal divider">-</div>
                <form action="setEventTime" method="GET">
                   <input type="number" placeholder="minutes" name="eventTime"><br><br>
                    <button type="submit" class="ui button red" >Set Time</button>
                </form>
            </div>
        </div>
    </div>




</div>

</body>
</html>