<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Sale</title>

      {% load staticfiles %}
    <link href="{% static 'semantic/semantic.min.css'%}" rel="stylesheet" type="text/css">
    <script src="{% static 'semantic/semantic.min.js'%}"></script>

    <style>
        a{
            color:inherit
            }
        a:hover{
            color:inherit
        }
    </style>
</head>
<body>

<form action="/polls/{{sale.salesId}}" method="post">
    <div class="ui container segment">


        <div class="ui one column centered very padded grid">
            <div class="ui form ">
                <div class="row">
                    <div class="ui fields">
                        <div class="field">
                            <label>Customer</label>
                            <select  class="ui dropdown" name="userId" >
                                {% for customer in customers %}
                              <option value="{{customer.id}}" {% if sale.user == customer.id %} selected="selected" {%endif%}>{{customer.userName}} P:{{customer.userSurname}}</option>
                                {% endfor %}
                            </select>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ui one column centered very padded grid">
            <div class="ui form ">
                <div class="row">
                    <div class="ui fields">
                        <div class="field">
                            <label>Shop</label>
                            <select  class="ui dropdown" name="shopId">
                                {% for shop in shops %}
                              <option value="{{shop.id}}" {% if sale.shop == shop.id %} selected="selected" {% endif %}>{{shop.shopName}} : {{shop.shopAddress}}</option>
                                {% endfor %}
                            </select>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="ui one column centered very padded grid">
            <div class="ui form ">
                <div class="row">
                    <div class="ui fields">
                        <div class="field">
                            <label>Product</label>
                            <select  class="ui dropdown" name="productId" >
                                {% for product in products %}
                              <option value="{{product.id}}" {% if sale.product == product.id %} selected="selected" {% endif %}>{{product.productName}} P:{{product.productPrice}}</option>
                                {% endfor %}
                            </select>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <br>


        <div class="ui one column centered very padded grid">
            <div class="ui form ">
                <div class="row">
                    <div class="ui fields">
                        <div class="field">
                            <label>Sale type</label>
                            <input type="text" placeholder="Sale Type" name="saleType" value="{{sale.saleType}}">
                        </div>
                        <div class="field">
                            <label>Sale year</label>
                            <input type="text" placeholder="Sale date" name="saleDate" value="{{sale.saleDate}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ui one column centered very padded grid">
            <div class="ui form ">
                <div class="row">
                   <button type="submit" class="ui button blue">Edit sale</button>
                </div>
            </div>
        </div>


    </div>

    {% csrf_token %}


    </div>

</form>





</body>
</html>