<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    {% load app_name_filters %}
    {% load staticfiles %}
    <link href="{% static 'semantic/semantic.min.css'%}" rel="stylesheet" type="text/css">
    <script src="{% static 'semantic/semantic.min.js'%}"></script>

    <style>
        a{
            color:inherit
            }
        a:hover{
            color:inherit
        }









    </style>
</head>
<body>


<div class="ui one column grid">

    {% if message != None %}
    <div class="row centered">
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header">Done</div>
                    <div class="meta">Action done</div>
                    <div class="description">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="ui  center">
            <div class="ui five wide column"></div>
            <div class="ui center aligned segment six wide column">
                <div class="ui stacked header"><h1>Sales</h1></div>
                <div class="ui stacked horizontal divider">Lab2 Sem4</div>
                <div class="ui stackable seven columned grid ">
                    <div class="row">
                        <div class="three wide centered column ">
                            <a href="add">
                                <button class="ui  button yellow">Add</button>
                            </a>
                        </div>
                        <div class="one wide column"></div>
                        <div class="three wide centered column ">
                            <a href="list">
                                <button class="ui button green">Search</button>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="ui  center">
            <div class="ui five wide column"></div>
            <div class="ui center aligned segment six wide column">
                <div class="ui stacked header"><h1>Sales</h1></div>
                <div class="ui stacked horizontal divider">Lab2 Sem5</div>
                <div class="ui stackable seven columned grid ">
                    <div class="row">
                        <div class="three wide centered column ">
                            <a href="add">
                                                <span>Average age of users: {{avgAge}}</span>

                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="three wide centered column ">
                            <a href="list">
                                  <span>Total sales sum: {{salesSum}}</span>
                            </a>
                        </div>

                    </div>
                     <div class="row">
                        <div class="three wide centered column ">
                            <a href="list">
                                               <p>Top customer:
                                                   <br>
                                                   <span>Name : {{topUser|private:'_id'}}</span>
                                                   <br>
                                                   <span>Count of products : {{topUser.count}}</span>
                                               </p>

                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>

</body>
</html>